button  {
    padding: 15px; /* hoe groot de knop is px staat voor pixel */
    background-color: #1f2833; /* kleur van alle knoppen */
    border-radius: 10px; /* rand van de knop */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* maakt de knop groter, het duurt 0,2 seconde */
    font: size 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-color: #45A29E;
    color: #ffffff;
}

button:hover {
    transform: scale(1.15);
}

body { 
    background-color:black; /*achtergrond*/
}