@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Shadows+Into+Light&display=swap');
/*ik heb van google een font gepakt en met deze code de font geïmporteerd naar mijn site */
body { 
 font-family:Coiny;
button  {
    padding: 15px; /* hoe groot de knop is px staat voor pixel */
    background-color: #1f2833; /* kleur van alle knoppen */
    border-radius: 10px; /* rand van de knop */
    cursor: pointer; /*als de cursor op de knop zit*/
    transition: transform 0.2s ease-in-out; /* maakt de knop groter, het duurt 0,2 seconde */
    font: size 24px; /*tekst grootte*/
    letter-spacing: 2px; /*plek tussen letters*/
    text-transform: uppercase; /*tekst type, hoofdletters*/
    text-align: center; /*plek tekst*/
    font-weight: bold;
    border-color: #00aeff; /*kleur van rand knop*/
    color: #ffffff; /*kleur tekst*/
}

button:hover {
  background-color: #00aeff; /*Kleu knop als cursor erop staat*/
    transform: scale(1.15); /*knop wordt groter als cursor erop staat*/
}
}

body { 
    background-color:black; /*achtergrond kleur van pagina*/
}

body {
    color: white; /*tekstkleur*/
  }

  h1 {
    color:#00aeff; /*tekstkleur tekst h1*/
  }

  
  /* breedte scrollbalk*/
::-webkit-scrollbar {
  width: 10px;
}

/* achtergrond die achter de scrollbalk zit */
::-webkit-scrollbar-track {
  background: #043783;
}

/* hendel van de scrollbalk kleur */
::-webkit-scrollbar-thumb {
  background: #00aeff;
}

/* Hendel van de scrollbar als de cursor erop zit */
::-webkit-scrollbar-thumb:hover {
  background: #00fff2;
}

ul { /*achtergrond van de menubalk*/
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #000000;
}

li { /*dit zorgt ervoor waar de knoppen op de menubalk staan*/
  float: left;
}

li a { /*dit zijn de elementen voor de menubalk*/
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

div {
border:#00fff2 
/*de kleur van de div tag borders, deze heb ik niet, maar deze code is er voor als ik het toevoeg.*/
}


footer {
  text-align: center;
  padding: 3px;
  background-color: #00aeff;
  color: rgb(0, 0, 0);
} /*deze dingen zorgen erboor wat de achtergrond, tekstkleur, waar de tekst staat enw at de margin is voor de footer*/

